<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
	<groups>
		<run>
			<include name="Playlist"/>
			<include name="Artist"/>
		</run>
	</groups>
    <classes>
      <class name="com.spotify.oauth2.tests.ArtistTests"/>
      <class name="com.spotify.oauth2.tests.PlaylistTests"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
